 /* Asterisk wildcard selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling Properties*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project properties*/
    color: rgb(245, 234, 234);
    font-family: sans-serif;
}
h1, h2, h3, h4 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(245, 234, 234);
}

/*Header Section*/
 header {
    position: fixed;
    background-color: rgb(8, 100, 21);
    width: 100%;
    display:inline-flex;
 }
 header a {
    text-decoration: none;
    color: inherit;
 }
 #nav-menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 120%;
 }
 /*About Us Section*/
main {
    background-color: darkgrey;
}
 /*Success Section*/

 /*Sign Up Section*/
 
 /*footer Section*/
