 /* Asterisk wildcard selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling Properties*/
body {
    min-height: 125vh;
    display: flex;
    flex-direction: column;
    /*Generic project properties*/
    color: rgb(245, 234, 234);
    font-family: sans-serif;
    overflow: scroll;
}
h1, h2, h3, h4 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(245, 234, 234);
}

/*Header Section*/
 header {
    position: fixed;
    z-index: 99;
    padding: 0 1rem;
    background-color: rgb(73, 28, 70);
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
 }
 header a {
    text-decoration: none;
    color: inherit;
 }
 #nav-menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 120%;
 }
 #nav-menu > li {
    margin-bottom: 1rem;
 }
 /*Navigation Bar*/
nav {
    position: absolute;
    background-color: rgba(167, 68, 160, 0.669);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    align-self: left;
    display: none;
    top: 100%;
}
#nav-toggle {
    display: none;
}
#nav-toggle:checked~nav {
    display: block;
}
.nav-toggle-label {
    font-size: 1.6rem;
}

 /*Main Section*/
main {
    background-color: rgb(14, 14, 14);
    flex: 1 0 auto;
    margin-top: 36px;
    color: white;
}
/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../pictures/computer.jpg") no-repeat center center/cover;
    position: relative;
    bottom: 30px;
} 
.cover-text {
    background-color: rgba(0, 0, 0, 0.68);
    font-size: 130%;
    position: absolute;
    bottom: 70px;
    width: fit-content;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
/*About us section*/
#about-text {
    width: 100%;
    position:absolute;
}
.intro-text {
    padding: 0 10px;
    display: flexbox;
}
.intro-text2 {
    padding: 0 10px;
    display: flexbox;
    margin-top: 20px;
}
.intro-text3 {
    padding: 0 10px;
    display: flexbox;
    margin-top: 20px;
}
.intro-text4 {
    padding: 0 10px;
    display: flexbox;
    margin-top: 20px;
}
 /*Success Section*/
#success {
    background-color: red;
    width: 100%;
    vertical-align: top;
}
 /*Sign Up Section*/
 #sign-up {
    background-color: blue;
 }
 /*footer Section*/
 footer {
    background-color: orange;
 }
/* Media query: tablets and larger screens (768px and above)*/
@media screen and (min-width:768px) {
    body {
        min-height: 112vh;
    }
    .intro-text {
        max-width: 50%;
        position: relative;
        float: left;
        margin-left: 10%;
    }
    .intro-text2 {
        max-width: 50%;
        position: relative;
        float: right;
        margin-right: 10%;
        margin-top: 20px;
    }
    .intro-text3 {
        max-width: 50%;
        position: relative;
        float: left;
        margin-left: 10%;
        margin-top: 20px;
    }
    .intro-text4 {
        max-width: 50%;
        position: relative;
        float: right;
        margin-right: 10%;
        margin-top: 20px;
    }
}
@media  and (min-width:2565px) {
    .about-text {
        min-height: 50vh;
    }
}